@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

:root {
    --mainColor: #7208e6;
    --mainBgColor: #ddd6ff;
    --secColor: #00a63e;
    --secBgColor: #dbfce7;
    --thrColor: #d08700;
    --thrBgColor: #fef9c2;
    --fourColor: #432dd7;
    --fourBgColor: #e0e7ff;
}

/* X-small phones */
@media (min-width: 320px) {
    .header {
        height: 100%;
    }

    .hamada,
    .hamada2 {
        align-items: center;
        padding: 10px;
    }

    .main-header,
    .clientStories h2 {
        font-size: 30px;
    }

    .carousel {
        margin: auto;
        width: 90%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
        margin: auto;
    }
}

/* Small phones */
@media (max-width: 480px) {
    .nav-link:hover {
        background-color: var(--mainBgColor);

    }

    .header {
        height: 100%;
    }

    .header h1 {
        font-size: 3rem;
        margin-top: 6rem;
    }

    .header p {
        width: 100%;
        margin: auto;
    }

    .end {
        width: 100%;
    }

    .main-header,
    .clientStories h2 {
        font-size: 30px;
    }

    .hamada,
    .hamada2 {
        align-items: center;
        padding: 10px;
    }

    .carousel {
        margin: auto;
        width: 90%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
        margin: auto;
    }


}

/* Large phones */
@media (min-width: 576px) {

    .header {
        height: 100%;
    }

    .header h1 {

        font-size: 3.5rem;
    }

    .carousel {
        margin: auto;
        width: 90%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
        margin: auto;
    }


}

/* Small tablets */
@media (min-width: 768px) {
    .header {
        height: 100%;
    }

    .carousel {
        margin: auto;
        width: 90%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
        margin: auto;
    }
}

/* Large tablets */
@media (min-width: 992px) {
    .carousel {
        margin: auto;
        width: 80%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: flex;
        margin: auto;
    }

    a.active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: 90%;
        background-color: var(--mainColor);
        align-items: center;
        height: 2px;
        content: "";
        transition: all 0.5s;
    }

    .nav-item .nav-link:hover {
        color: var(--mainColor);
    }

    .navbar .navbar-nav .nav-item {
        position: relative;
    }

    .navbar .navbar-nav .nav-item::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--mainColor);
        display: block;
        width: 0%;
        height: 2px;
        content: "";
        transition: all 0.5s;
    }

    .navbar .navbar-nav .nav-item:hover::after {
        bottom: 0;
        left: 0;

        /* Small laptops */
        @media (min-width: 1200px) {
            .header h1 {
                font-size: 4rem;
            }

            .main-header {
                font-size: 36px;
            }
        }

    }


}

/* Small laptops */
@media (min-width: 1200px) {
    .header {
        height: 100vh;
    }

}

/* Medium desktops */
@media (min-width: 1400px) {
    .header {
        height: 100vh;
    }
}

/* Very large screens */
/* Add relevant styles for very large screens below or remove this block if not needed */